services:
  api:
    environment:
      - COQUI_TOS_AGREED=1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    command: uv run uvicorn src.app:app --host 0.0.0.0 --port 8000
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
